<!DOCTYPE html>
<html>
  <head>
    <title>Chat Moderator Page</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="float-container">
        <div class="float-child-left">
            <div id="chat-log">
                <h3 class="title">Chat Log</h3>
                <div class="messages">
                    <ul class="chat-list" id="chat-li">
                        <!-- List items from Javascript: chat records (player name, message, date, time)-->
                        <!-- <li>
                            <div class="chat-container">
                                <div class="text-corrector">
                                <p class="text">Player 1: Why no dragon</p>
                                </div>
                                <div class="chat-time">Time 00/00/00 00:00:00</div>
                            </div>
                        </li>
                        <li>
                            <div class="chat-container">
                                <div class="text-corrector">
                                <p class="text">Player 2: Screw you I use ground troop</p>
                                </div>
                                <div class="chat-time">Time 00/00/00 00:00:00</div>
                            </div>
                        </li>
                        <li>
                            <div class="chat-container">
                                <div class="text-corrector">
                                <p class="text">Player 3: Relax guys</p>
                                </div>
                                <div class="chat-time">Time 00/00/00 00:00:00</div>
                            </div>
                        </li>
                        <li>
                            <div class="chat-container">
                                <div class="text-corrector">
                                <p class="text">Player 1: Do you even know how to play</p>
                                </div>
                                <div class="chat-time">Time 00/00/00 00:00:00</div>
                            </div>
                        </li>
                        <li>
                            <div class="chat-container">
                                <div class="text-corrector">
                                <p class="text">Player 2: I am better than you</p>
                                </div>
                                <div class="chat-time">Time 00/00/00 00:00:00</div>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div id="summary">
                <h3 class="title">Summary</h3>
                <!-- Summary from ChatGPT API -->
                <p id="summary-text">Loading...</p>
            </div>
        </div>
        <div class="float-child-right">
            <div id="score">
                <h3 class="title">AI Evaluated Rating</h3>
                <!-- Value from ML model -->
                <p id="score-value">Some value by the AI</p>
                <p id="comment">Interpretation of the AI generated value</p>
            </div>
            <div id="people-list">
                <h3 class="title">Players Involved</h3>
                <ul id="people">
                    <!-- List items from Javascript: players involved (hover: play details)-->

                </ul>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>